@page
@model patitu_florin_proiect.Pages.Mecanici.IndexModel

@{
    ViewData["Title"] = "Lista Mecanici";
}

<h1>Lista Mecanici</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Creaza Mecanicul</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mecanici[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mecanici[0].Prenume)
            </th>
            <th>
                Actiuni
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Mecanici)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenume)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.MecanicID" class="btn btn-warning">Editeaza</a> |
                    <a asp-page="./Details" asp-route-id="@item.MecanicID" class="btn btn-info">Detalii</a> |
                    <a asp-page="./Delete" asp-route-id="@item.MecanicID" class="btn btn-danger">Sterge</a>
                </td>
            </tr>
        }
    </tbody>
</table>
